.Header {
  display: flex;
  border-bottom: 1px solid #f9f9f9;
  align-items: center;
  justify-content: space-between;
}

.Header__TinderLogo {
  height: 40px;
  object-fit: contain;
}

.Header__Icon {
  padding: 20px;
}
